/config
/keys
/log
/nginx/mani-snippets/mani.conf
/nginx/nginx.conf
/nginx/site-confs/default
/www/*.php
/www/mani/config.ini
/www/mani/lib/config.ini.php
/www/mani/view/admin/cache/master_main.css
/www/mani/view/front/cache/master_main.css
/www/mani/uploads/avatars/*
/www/mani/uploads/backups/*
/www/mani/uploads/memberships/*