[Global]
media_dir = /media
libraries = /media/libraries
timezone = Europe/Amsterdam

[Library]
;# Add a comma delimiated list of folders in your "libraries" location that has TV Shows:
;# E.g. libraries_tv_dirs = TVShows1,TVShows2
libraries_tv_dirs = 
;# Add a comma delimiated list of folders in your "libraries" location that has Movies:
;# E.g. libraries_tv_dirs = MoviesDrama,MoviesChildren
libraries_movies_dirs = 
;# Add a comma delimiated list of folders in your "libraries" location that has Music:
;# E.g. libraries_tv_dirs = Music
libraries_music_dirs = 

[Emby]
host = 127.0.0.1
port = 8096
user = master
pass = pass1234
emby_url = /emby/

[Ombi]
ombi_url = /ombi/
